<div id="{{list.id}}" class="col-xs-12 col-sm-6 col-md-3">
    <div class="list-container">
        <h3>{{fa-icon "thumb-tack"}} {{list.title}}</h3>
        <div class="list-tasks">

        </div>
        <div class="list-add">
            {{#if showAddItemForm}}
              {{add-task onAdd=(action 'addTask') cancelAdd=(action 'toggleForm')}}
            {{else}}
              <a {{action 'toggleForm'}} class="btn btn-primary">Add Task</a>
            {{/if}}
        </div>
     </div>
</div>
{{yield}}
